# --- Ocultar coisas do Flutter ---
.dart_tool/
.idea/
android/
build/
ios/
lib/
linux/
macos/
test/
web/
windows/
pubspec.yaml
pubspec.lock
analysis_options.yaml

# --- Ocultar coisas do Git ---
.git/
.github/
.gitignore

# --- O QUE VAI SUBIR (Whitelist) ---
!main.py
!requirements.txt
!.python-version
!Dockerfile 